<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Notes application</title>
    <script src="https://code.angularjs.org/1.3.9/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.9/angular-resource.js"></script>
    <script src="todos.js"></script>
</head>
<body>
    <form id="todo-form" ng-submit="add()">
        <input id="new-todo" placeholder="Что еще нужно сделать?" ng-model="newTodo" autofocus>
    </form>
    </header>

    <li ng-repeat="todo in todos | filter:statusFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
        <div class="view">

            <input class="toggle" type="checkbox" ng-model="todo.closed">
            <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
            <button class="destroy" ng-click="removeTodo(todo)"></button>
        </div>
</body>
</html>